body {
  background-color: lightblue;
}

header {
  border-bottom: 1px solid gray;
}

/* ------------------------------------ */
/* Sticky footer styles from Bootstrap  */
/* ------------------------------------ */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* margin of footer height */
  margin-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* height of footer */
  height: 30px;
  /* line-height: 30px; */
  text-align: center;

  color: white;
  background-color: gray;
}

.footer p {
  margin: 0px;
}
/* ------------------------------------ */

h1 {
  font-size: 32px;
  padding: 10px;
  margin-bottom: 0px;
  text-align: center;
  color: white;
  background-color: orangered;
}

h2 {
  font-size: 28px;
  color: orangered;
}

h3 {
  font-size: 20px;
  color: white;
}

h4 {
  font-size: 20px;
  color: orangered;
}

.nav {
  font-size: 16px;
  justify-content: center;
  vertical-align: middle;
}

/* Changed Form's button primary color and border color  on Contact page */
.btn-primary {
  background-color: darkgray;
  border-color: gray;
}

/* anchor tag color styles for pseudoclasses */
a.active {
  color: red;
}

a.active:hover {
  color: brown;
}

.img-size {
  width: 400px;
  height: auto;
}

/* highlight image when hovered */
.img-hover:hover {
  opacity: 0.4;
}

/* caption for photos in portfolio page */
.caption {
  display: block;
  background-color: rgba(255, 69, 0, 0.85);
  position: relative;
  bottom: 24px;
  text-align: center;
}

/*---------------*/
/* MEDIA QUERIES */
/*---------------*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  h1 {
    margin-left: 20px;
    text-align: left;
    width: 253px;
  }

  .nav {
    justify-content: flex-end;
    margin-right: 20px;
    padding-top: 8px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    margin-left: 40px;
  }

  .nav {
    margin-right: 40px;
  }
}
